<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/90c1ca37-b2a8-4fdd-8f7f-1cbdf99d1e5a/resourceGroups/GJApples_group/providers/Microsoft.Web/sites/GJApples</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gjapples.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>9eb30760-f78f-43f0-a969-f5c342e081ef</ProjectGuid>
    <PublishUrl>https://gjapples.scm.azurewebsites.net/</PublishUrl>
    <UserName>$GJApples</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>